# Application
APP_HOST_PORT=8080

# PostgreSQL (container)
POSTGRES_DB=shortlink
POSTGRES_USER=shortlink
POSTGRES_PASSWORD=secret

# Spring Datasource (application)
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/shortlink
SPRING_DATASOURCE_USERNAME=shortlink
SPRING_DATASOURCE_PASSWORD=secret

# Redis
REDIS_HOST=redis-cache
REDIS_PORT=6379
REDIS_PASSWORD=